nav a{
    text-decoration: none;
    color: white;
    padding: 5px 62px;
    margin: 0px;
}
ul{
    list-style:none;
    
}
nav ul li{
    display: inline-block;
    position: relative;
    background: black;
    padding:10px 10px;
    font: 14px/18px sans-serif;

}
nav ul li ul {
    Left: -99999px;
    position:absolute;
    top: 50px;

}
nav ul li:hover ul {
    left: -40px;
    width: 100px;


}
nav ul li:hover {
    background: #ff871f;
}
nav ul li ul li {
    display: block;
    position: relative;
    width: 180px;
    background: #000;

}
